<!DOCTYPE html>
<html>
  	<head>
    	<title>Sign Up </title>
	</head>
	
	<body>
		<div id="header">
			
			<a href="/" id="logo"><div id="img1" ><%= image_tag "logo.png" ,:size => "300x110"  %></div></a>
		
			<ul class="navigation">
				<li >
				<a href="../homes/featured">Home</a>
				</li>
				<li>
					<a href="destinations.html">Events</a>
				</li>
				<li>
					<a href="ships.html">Movies</a>
				</li>
				<li>
					<a href="cruises.html">Arts &amp; Theatre</a>
				</li>
				<li class="selected first">
				<a href="../customers/new">Sign up</a> <br />
				</li>
				<li>
		<a href="#loginmodal" id="modaltrigger">Sign In</a>
		</li>
			</ul>
			
		<div id="container">
		<div id="title">Experience the magic of Movies and Events. Register here</div>
		<hr />
		<div id="image">
		<%= image_tag "images/rajkapoor.jpg" ,:size => "700x400"  %>
		</div>
		<div id="form">
			
		<%= form_for @customer do |f| -%>
			<% if @customer.errors.any? %>
				<h2>Errors</h2>
				<ul>
					<% @customer.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>
			<%= f.label :email %> <br />
			<%= f.text_field :emailid %><br />
			<%= f.label :password %> <br />
			 <%= f.password_field :password %><br />
			<%= f.label :password_confirmation %> <br />
			 <%= f.password_field :password_confirmation %><br />
			<%= f.submit 'Sign Up' %>
	<%end -%>
	</div>
	</div>
	</div>
	</body>
</html>



