<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">

<html>
	<head>
		 
  
  <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
  <link rel="icon" href="http://designshack.net/favicon.ico">
 <%= javascript_include_tag('jquery-1.9.1.min.js') %>
 <%= javascript_include_tag('jquery.leanModal.min.js') %>
 
 <%= javascript_include_tag('jquery.jcarousel.min.js') %>
<%= stylesheet_link_tag "carosel-style.css" %>
<%= stylesheet_link_tag "carosel-skin.css" %>


		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Cruise Vacation</title>
		<%= stylesheet_link_tag "admin-page.css" %>
		<script>
			function selected(sel)
			{
				document.getElementById("form1").action=" ";
				document.getElementById("hidden").value=sel.value;
				document.getElementById("form1").submit();
				
			}
			function check()
			{
				
				if((document.URL).indexOf("=") != -1)
				{
					var oid = (document.URL).split("=")[2].split('&')[0];
					document.getElementById("hidden").value=oid;
					//alert(oid);
					document.getElementById(oid).selected=true;
				}
			}
			function setdate(sel)
			{
				document.getElementById("showdate").value=sel.value;
				//alert(document.getElementById("showdate").value);
			}
			function submit1()
			{
				//alert("submit");
				//document.getElementById("showdate").value=document.getElementById("selectdate").value;
				document.getElementById("form1").action="/../shows/show_timing.html";
				document.getElementById("form1").submit();
			}
		</script>
	</head>
	<body>
		
     
 
  <div id="loginmodal" style="display:none;">
   	<%= form_for @customer, :as => :customer, :url => sign_in_path(@customer) do |f| %>
		  <p>
		    <%= f.label 'Email id:' %><br />
		    <%= f.text_field :emailid %>
		  </p>
		  <p>
		    <%= f.label 'Password:' %><br />
		    <%= f.password_field :password %>
		  </p>
		  <p>
		    <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
		    <%= f.submit 'Clear Form', :type => 'reset' %>
		  </p>
		<% end %>
  </div>
  
  
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
    	wrap: 'circular'
    });
});
jQuery(document).ready(function() {
    jQuery('#mycarousel1').jcarousel({
    	wrap: 'circular'
    });
});



$(function(){
  $('#loginform').submit(function(e){
    return false;
  });
  
  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
});
</script>
	
			
			<div id="featured1">
				<div class="first">
					<ul>
						<li class="selected first">
							
							<br /> <br />
								<h2> Welcome to the Admin page </h2>
								<a href="../events/new">Add a new event</a>
								
								<br />
								
								<a href="../screens/new">Set up screen</a>
								<br />
								
								<a href="../shows/new">Add shows</a>
								
							
						</li>
						
						
					</ul>
				</div>
				<div>
					<h3>Fast Forward Search </h3>
					<% @time = Time.now %>
				  	<% @month = @time.month %>
				  	<% @day = @time.day %>
					<form  method="get" id="form1">
						<input type="hidden" name="showdate" id="showdate">
						<input type="hidden" name="hidden" id="hidden">
						<select name="" id="selectevent" onchange="selected(this)">
							<option value="ship">Select Event </option>
							<% @events.each do |e| %>
								<% @enddate = e.endDate.to_s.split('-') %>
						  		<% @mm = @enddate[1] %>
						  		<% @dd = @enddate[2] %>
						  		<% if @month.to_i == @mm.to_i %>
  									<% if @dd.to_i >= @day.to_i %>
										<option value="<%= e.id %>" id="<%= e.id %>"> <%= e.eventName %> </option>
									<% end %>
						  		<% else %>
						  			<% if @mm.to_i > @month.to_i %>
						  				<option value="<%= e.id %>" id="<%= e.id %>"> <%= e.eventName %> </option>
						  			<% end %>
								<% end %>
						<% end %>
						</select>
						
						
						<% @eid = request.url.split('=')[2].to_s.split('&')[0] %>
						<select name="selectdate" id="" onchange="setdate(this)">
							<option value="port"> Select Date</option></option>
							<% @shows.each do |s| %>
								<% if  s.eventId.to_i == @eid.to_i %>
									<option value="<%= s.showDate %>"> <%= s.showDate %> </option></option>
								<% end %>
							<% end %>
						</select>
						<input type="button" value="Search" onclick="submit1()"/>
					</form>
					<div>
						<h3>Already Booked?</h3>
						<ul>
							<li>
								<a href="excursions.html">Check out our new Theatre</a>
								<p>Theatre screen with amazing sound and ambience</p>
							</li>
							<li>
								<a href="restaurant.html">Check out our Specialty Restaurant</a>
								<p>Check our new Restaurant serving tasty cuisine</p>
							</li>
							<li>
								<a href="activities.html">Check out our Special Activities</a>
								<p>Please don't hesitate to ask for help </a>.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
	
			<div>
			
			
			<div id="content">
				
					<div id="smallheading">New Movies</div>
					
					

				<div id="wrap">
 

  <ul id="mycarousel" class="jcarousel-skin-tango">
   <% @events.each do |event| %>
  		<% @enddate = event.endDate.to_s.split('-') %>
  		<% @mm = @enddate[1] %>
  		<% @dd = @enddate[2] %>
  		<% if @month.to_i == @mm.to_i %>
  			<% if @dd.to_i >= @day.to_i %>
  		  		<li><a href="/shows/show?<%=event.id%>"><img src= "/<%= event.image%>" width="150" height="200"/><div id="buttonfancy">Book Now</div></a></li>
  			<% end %>
  		<% else %>
  			<% if @mm.to_i > @month.to_i %>
  				<li><a href="/shows/show?<%=event.id%>"><img src= "/<%= event.image%>" width="150" height="200"/><div id="buttonfancy">Book Now</div></a></li>
  			<% end %>
  		<% end %>
  <% end %>

  </ul>

</div>


	</div>	
		<div id="content">
				
					<div id="smallheading">Up Coming Events</div>
					
				<div id="wrap">
 
  <ul id="mycarousel1" class="jcarousel-skin-tango">
    <% @events.each do |event| %>
  		<% @startdate = event.startDate.to_s.split('-') %>
  		<% @mm = @startdate[1] %>
  		<% @dd = @startdate[2] %>
  		<% if @month.to_i == @mm.to_i %>
  			<% if @dd.to_i > @day.to_i %>
  		  		<li><img src= "/<%= event.image%>" width="150" height="200"/></li>
  			<% end %>
  		<% else %>
  			<% if @mm.to_i > @month.to_i %>
  				<li><img src= "/<%= event.image%>" width="150" height="200"/></li>
  			<% end %>
  		<% end %>
  <% end %>

  </ul>

</div>


	</div>	
		</div>
	