<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">

<html>
	<head>
		 
  

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Cruise Vacation</title>
		<%= stylesheet_link_tag "style.css" %>
	</head>
	<body>
		
     

  
  
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
    	wrap: 'circular'
    });
});
jQuery(document).ready(function() {
    jQuery('#mycarousel1').jcarousel({
    	wrap: 'circular'
    });
});



$(function(){
  $('#loginform').submit(function(e){
    return false;
  });
  
  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
});
</script>

			<div id="featured">
				<div class="first">
					<ul>
						<li class="selected first">
							
							
								<%= image_tag "images/phataposter.jpg" , :size => "625x340"  %>
								
							
						</li>
						
						
					</ul>
				</div>
				<div>
					<h3>Fast Forward Search </h3>
					<form action="">
					
						<select name="" id="">
							<option value="ship">Select Event </option>
						</select>
						<select name="" id="">
							<option value="port"> Select Date</option></option>
						</select>
						<input type="submit" value=""/>
					</form>
					<div>
						<h3>Already Booked?</h3>
						<ul>
							<li>
								<a href="../signins/excursions">Check out our new Theatre</a>
								<p>Theatre screen with amazing sound and ambience</p>
							</li>
							<li>
								<a href="../signins/restaurant">Check out our Specialty Restaurant</a>
								<p>Check our new Restaurant serving tasty cuisine</p>
							</li>
							<li>
								<a href="../signins/activities">Check out our Special Activities</a>
								<p>Please don't hesitate to ask for help </a>.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
	
			<div>
			
			
			<div id="content">
				
					<div id="smallheading">New Movies</div>
					
					

				<div id="wrap">
 

  <ul id="mycarousel" class="jcarousel-skin-tango">
  	
  	<% @events.each do |event| %>
    <li><a href="/shows/show?<%=event.id%>"><img src= "<%= event.image%>" width="150" height="200"/><div id="buttonfancy">Book Now</div></a></li>
  <% end %>
  </ul>

</div>


	</div>	
		<div id="content">
				
					<div id="smallheading">Up Coming Events</div>
					
				<div id="wrap">
 
  <ul id="mycarousel1" class="jcarousel-skin-tango">
    <li><a href="www.google.com"><%= image_tag "images/besharam.jpg" , :size => "150x200" %></a></li>
      <li><a href="www.google.com"><%= image_tag "images/zanjeer.jpg" , :size => "150x200" %></a></li>
        <li><a href="www.google.com"><%= image_tag "images/krish.jpg" , :size => "150x200" %></a></li>
          <li><a href="www.google.com"><%= image_tag "images/boss.jpg" , :size => "150x200" %></a></li>
          
            <li><a href="www.google.com"><%= image_tag "images/johnday.jpg" , :size => "150x200" %></a></li>

  </ul>

</div>


	</div>	
		</div>
