
<!DOCTYPE html>

<html>
	<head>
		 
  
  <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
  <link rel="icon" href="http://designshack.net/favicon.ico">
 <%= javascript_include_tag('js/jquery-1.9.1.min.js') %>
 <%= javascript_include_tag('js/jquery.leanModal.min.js') %>
 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Cruise Vacation</title>
		<%= stylesheet_link_tag "style.css" %>
	</head>
	<body>
		
     
 
  <div id="loginmodal" style="display:none;">
   	<%= form_for @customer, :as => :customer, :url => sign_in_path(@customer) do |f| %>
		  <p>
		    <%= f.label 'Email id:' %><br />
		    <%= f.text_field :emailid %>
		  </p>
		  <p>
		    <%= f.label 'Password:' %><br />
		    <%= f.password_field :password %>
		  </p>
		  <p>
		    <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
		    <%= f.submit 'Clear Form', :type => 'reset' %>
		  </p>
		<% end %>
  </div>
  
  
<script type="text/javascript">
$(function(){
  $('#loginform').submit(function(e){
    return false;
  });
  
  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
});
</script>
		<div id="header">
		
	
			<a href="index.html" id="logo"><div id="img1" ><%= image_tag "logo.png" ,:size => "350x130"  %></div></a>
		
			<ul class="navigation">
				<li class="selected first">
				<a href="../homes/featured">Home</a>
				</li>
				<li>
					<a href="destinations.html">Events</a>
				</li>
				<li>
					<a href="ships.html">Movies</a>
				</li>
				<li>
					<a href="cruises.html">Arts &amp; Theatre</a>
				</li>
				<li>
				<a href="../customers/new">Sign up</a> <br />
				</li>
				<li>
		<a href="#loginmodal" id="modaltrigger">Sign In</a>
		</li>
			</ul>
			
		
		    <div id="featured">
				<div class="first">
					<ul>
						<li class="selected first">
							<a href="../homes/featured">Featured Events</a>
							<div>
								<a href="featured.html"><%= image_tag "images/chennai.jpg" , :size => "625x340"  %></a>
								
							</div>
						</li>
						<li>
							<a href="deals.html">New Events</a>
							<div>
								<a href="deals.html"><img src="images/riverside.jpg" alt=""/></a>
								
							</div>
						</li>
						<li>
							<a href="offers.html">Special Offers</a>
							<div>
								<a href="offers.html"><img src="images/mountains.jpg" alt=""/></a>
								<p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
							</div>
						</li>
					</ul>
				</div>
				<div>
					<h3>Fast Forward Search </h3>
					<form action="">
					
						<select name="" id="">
							<option value="ship">Select Event </option>
						</select>
						<select name="" id="">
							<option value="port"> Select Date</option></option>
						</select>
						<input type="submit" value=""/>
					</form>
					<div>
						<h3>Already Booked?</h3>
						<ul>
							<li>
								<a href="excursions.html">Check out our new Theatre</a>
								<p>Theatre screen with amazing sound and ambience</p>
							</li>
							<li>
								<a href="restaurant.html">Check out our Specialty Restaurant</a>
								<p>Check our new Restaurant serving tasty cuisine</p>
							</li>
							<li>
								<a href="activities.html">Check out our Special Activities</a>
								<p>Please don't hesitate to ask for help </a>.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
		<div id="content">
			<div>
				<div class="first">
					<h2>New Movies</h2>
				<ul>
						<li>
							<a href="offers.html"><%= image_tag "images/johnday.jpg" , :size => "150x200" %></a>
							<span><a href="offers.html">John Day</a></span>
							<p>Maecenas gravida lacus mauris, at interdum ligula</p>
							<a href="offers.html" class="details">See Details</a>							
							<a href="offers.html" class="book">Book Now!</a>
						</li>
						<li>
							<a href="offers.html"><%= image_tag "images/grandmasti.jpg" , :size => "150x200" %></a>
							<span><a href="offers.html">Grand Masti</a></span>
							<p>Pellentesque molestie arcu vitae lectus</p>
							<a href="offers.html" class="details">See Details</a>							
							<a href="offers.html" class="book">Book Now!</a>
						</li>
						<li>
							<a href="offers.html"><%= image_tag "images/satyagraha.jpg" , :size => "150x200" %></a>
							<span><a href="offers.html">Satyagraha</a></span>
							<p>7 Days &amp; 3 Days at Aliquam iaculis velit</p>
							<a href="offers.html" class="details">See Details</a>							
							<a href="offers.html" class="book">Book Now!</a>
						</li>
						<li>
							<a href="offers.html"><%= image_tag "images/phataposter.jpg" , :size => "150x200" %></a>
							<span><a href="offers.html">Phata Poster</a></span>
							<p>Nullam viverra nisi et elit pretium venenatis</p>
							<a href="offers.html" class="details">See Details</a>							
							<a href="offers.html" class="book">Book Now!</a>
						</li>
					</ul>
					<a href="deals.html">View all</a>
				</div>
				<div>
					<h2>Special Offers</h2>
						<ul>
						<li>
							<a href="deals.html"><%= image_tag "images/riverside-city.jpg" %></a>
							<span><a href="deals.html">Donec Nisl Justo</a></span>
							<p>7 Days &amp; 3 Days at Aliquam iaculis velit</p>
							<a href="deals.html" class="details">See Details</a>
							<a href="deals.html" class="book">Book Now!</a>
						</li>
						<li>
							<a href="deals.html"><img src="images/kayaks.jpg" alt=""/></a>
							<span><a href="deals.html">Pellentesque</a></span>
							<p>Maecenas gravida lacus mauris, at interdum ligula</p>
							<a href="deals.html" class="details">See Details</a>							
							<a href="deals.html" class="book">Book Now!</a>
						</li>
						<li>
							<a href="deals.html"><img src="images/castle.jpg" alt=""/></a>
							<span><a href="deals.html">QUISQUE</a></span>
							<p>Pellentesque molestie arcu vitae lectus</p>
							<a href="deals.html" class="details">See Details</a>							
							<a href="deals.html" class="book">Book Now!</a>
						</li>
						<li>
							<a href="deals.html"><img src="images/girl-swimming.jpg" alt=""/></a>
							<span><a href="deals.html">ODIOLOREM</a></span>
							<p>Nullam viverra nisi et elit pretium venenatis</p>
							<a href="deals.html" class="details">See Details</a>							
							<a href="deals.html" class="book">Book Now!</a>
						</li>
					</ul>
					<a href="offers.html">View all</a>
				</div>
				<div id="news">
					<h2>Get Updated</h2>
					<a href="http://twitter.com/fwtemplates">Follow us <font>Twitter</font></a>
					<a href="http://facebook.com/freewebsitetemplates">Like us in <font>Facebook</font></a>
					<a href="#">Visit our <font>Blog</font></a>
					<a href="http://www.youtube.com/fwtemplates">Watch us in <font>YouTube</font></a>
					
					<div>
						<h3>Brochure</h3>
						<a href="#" id="download"><img src="images/brochure.jpg" alt=""/></a>
						<a href="#">Download Brochure</a>
						<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</p>
					</div>
				</div>	
			</div>
		</div>
		<div id="footer">
			<div>
				<ul>
					<li><a href="about.html">The Company</a></li>
					<li><a href="blog.html">Visit our Blog</a></li>
					<li><a href="#">Brochure download</a></li>
				</ul>
				<ul>
					<li><a href="destinations.html">Cruises &amp; Destinations</a></li>
					<li><a href="ships.html">Ships &amp; Activities</a></li>
					<li><a href="cruises.html">Prepare for your Cruises</a></li>
				</ul>
				<ul>
					<li><a href="featured.html">Featured Destination</a></li>
					<li><a href="deals.html">Hot Deals</a></li>
					<li><a href="offers.html">Special Offers</a></li>
				</ul>
				<form action="">
					<span>Always Get Updated for</span>
					<h2>Hot Deals &amp; Special Offers</h2>
					<input type="text" value="Enter email address" id="email" onblur="this.value=!this.value?'Enter email address':this.value;" onfocus="this.select()" onclick="this.value='';" />
					<input type="submit" id="submit" value=""/>
				</form>
				<p>&#169; Copyright 2012. All Rights Reserved.</p>
			</div>
		</div>
	</body>
/html>  