<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">

<html>
	<head>
		 
  	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		
		  <link rel="stylesheet" href="/resources/demos/style.css" />
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			
		<%= stylesheet_link_tag "events.css" %>

		<title>
			Show Timings
		</title>
		
		
	</head>
	<body>
		<div id="eventcontainer">
				<% if request.url.include? "hidden" %>
					
					<% @show_date= ((request.url).split('='))[1].split('&')[0] %> 
					<% @eid = ((request.url).split('=')[2]).split('&')[0] %>
				<%else %>
				
					<% @show_date= ((request.url).split('='))[1].split('+')[0] %> 
					<% @eid = (request.url).split('=')[2] %>
				<% end %>
				
				
				<% for event in @events %>
					<% if event.id == (@eid.to_i) %>
						<img src = "/<%= event.image %>" /> <br/>
					
					<% end %>
				<% end %>
				
				Show Timing: <br/>
				<div id="showDetails">
				<% if !@shows.blank? %>
					<% for show in @shows %>
						<% if  show.showDate.to_s == @show_date.to_s  and  show.eventId.to_i == (@eid.to_i) %> 
							<% if show.availableTickets.to_i > 0 %>
								 <a href="bookseats.html?<%= show.id %>"><%= (show.startTime.to_s).split('')[12] %> <%= (show.startTime.to_s).split('')[13] %><%= (show.startTime.to_s).split('')[14] %><%= (show.startTime.to_s).split('')[15] %></a> 
								 &nbsp &nbsp Price: <%= show.price %>  <br/>
							<% else %>
								Tickets are booked for all shows of selected date
							<% end %>	
						<% end %>	 
					<% end %>
				<% end %>
			</div>
		</div>
		</div>
	</body>	
</html>