<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us">

<html>
	<head>
		 
  	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		 
		  <link rel="stylesheet" href="/resources/demos/style.css" />
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			
		<%= stylesheet_link_tag "events.css" %>

		<title>
			Show details
		</title>
		<script>
			function selected() {
				var val=document.getElementById("select").value;
				document.getElementById("show_date").value =val;
				
				
			}
		</script>
		
	</head>
	<body>
		<div id="eventcontainer">
			<% @eid= (request.url).split('?')[1] %>
			
			<div id ="eventDetails">
				<% for event in @events %>
					<% if event.id == (@eid.to_i) %>
						<img src = "/<%= event.image %>" /> <br/>
						Event Name :  <%= event.eventName %> <br/>
						Description : <%= event.description %> <br/>
						Type : <%= event.eventType %> <br/>
						Language : <%= event.language %> <br/>
						Rating : <%= event.rating %> <br/>
						Certificate : <%= event.certificate %> <br/> 
					<% end %>
				<% end %>
			</div>
			
			<br /> <br />
			
			Select Show Date:
			<select id="select" onchange = "selected()">
				<option>Select Date</option>
			<% if !@shows.blank? %>
				<% for show in @shows %>
					<% if show.eventId == (@eid.to_i) %>
						<option value="<%= show.showDate %> "> <%= show.showDate %></option>
						
					<% else %>
					<% end %>
				<% end %>
			<% end %>
			</select>
			
			
		<form action="show_timing.html" method="get">
			<input type="hidden" name="show_date" id="show_date" > <br />
			<input type="hidden" name="eid" id="eid" value="<%= @eid%>" > 
			<input type="submit" value="Get Shows">
		</form>	
		</div>
		</div>
	</body>	
</html>
   		
	
