<!DOCTYPE html>
<html>
<head>
  <title>TicketBooking1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  	<%= stylesheet_link_tag "style.css" %>
  	
  <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
  <link rel="icon" href="http://designshack.net/favicon.ico">
 <%= javascript_include_tag('jquery-1.9.1.min.js') %>
 <%= javascript_include_tag('jquery.leanModal.min.js') %>
 
 <%= javascript_include_tag('jquery.jcarousel.min.js') %>
<%= stylesheet_link_tag "carosel-style.css" %>
<%= stylesheet_link_tag "carosel-skin.css" %>

</head>
<body>
	
	<div id="container1">
		<div id="header">
			<div id="logindetails">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <a href="../signout/sign_out">Sign Out</a>
    
    <% if current_user.email == "admin"%>
     <a href="../signins/admin_page">Admin Panel</a>
    <% end %>
    
    
  <%else %>
 
  <span id="linkbutton">
          <a href="../sitecustomers/new">Sign up </a> </span>
		
	<span id="linkbutton">	<a href="#loginmodal" id="modaltrigger">Sign In</a> </span>
		
<br />

   <div id="fbbutton">  	<%= link_to image_tag("sign_in_with_facebook.png", :size => "200x40" ) , "/auth/facebook", id: "sign_in" %>
			</div>
   <% end %>
   

   
   </div>
   
     <div id="loginmodal" style="display:none;">
   	<%= form_for @sitecustomer, :as => :sitecustomer, :url => sign_in_path(@sitecustomer) do |f| %>
		  <p>
		    <%= f.label 'Email id:' %><br />
		    <%= f.text_field :email %>
		  </p>
		  <p>
		    <%= f.label 'Password:' %><br />
		    <%= f.password_field :password %>
		  </p>
		  <p>
		    <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
		    <%= f.submit 'Clear Form', :type => 'reset' %>
		  </p>
		<% end %>
		
  </div>
  
  
<script type="text/javascript">


$(function(){
  $('#loginform').submit(function(e){
    return false;
  });
  
  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
});
</script>
	
			<a href="/" id="logo"><div id="img1" ><%= image_tag "logo.png" ,:size => "300x110"  %></div></a>
		<div id="mainmenu"></div>
			<ul class="navigation">
				<li class="selected first">
				<a href="../homes/featured">Home</a>
				</li>
				<li>
					<a href="destinations.html">Events</a>
				</li>
				<li>
					<a href="ships.html">Movies</a>
				</li>
				<li>
					<a href="cruises.html">Arts &amp; Theatre</a>
				</li>
				
		
			</ul>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<p>

</p>
<%= yield %>

	<div id="footer">
			<div>
				<ul>
					<li><a href="about.html">The Company</a></li>
					<li><a href="blog.html">Visit our Blog</a></li>
					<li><a href="#">New Movies</a></li>
				</ul>
				<ul>
					<li><a href="destinations.html">Holidays &amp; Destinations</a></li>
					<li><a href="ships.html">Culture &amp; Activities</a></li>
					<li><a href="cruises.html">Prepare your trip</a></li>
				</ul>
				<ul>
					<li><a href="featured.html">Featured Movies</a></li>
					<li><a href="deals.html">Hot Deals</a></li>
					<li><a href="offers.html">Special Offers</a></li>
				</ul>
				<form action="">
					<span>Always Get Updated for</span>
					<h2>Hot Deals &amp; Special Offers</h2>
					<input type="text" value="Enter email address" id="email" onblur="this.value=!this.value?'Enter email address':this.value;" onfocus="this.select()" onclick="this.value='';" />
					<input type="submit" id="submit" value=""/>
				</form>
				<p>&#169; Copyright 2013. All Rights Reserved. By Annu, Pravin, Trisha , Abhishek, Prajyot , Divya</p>
			</div>
		</div>
		
	</body>
</html>  
